.botao{
    font-family: 'Games', sans-serif;
    border-radius: 10px;
    font-size:25px;
    text-align:center;
    width: 400px;
    height: 30px;
    background-color:black;
    color:white;
    border:none;
    transition:all 5s;
    left:1px;

}

.botao span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.botao span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.botao:hover span {
   padding-right: 25px;
}
  
.botao:hover span:after {
    opacity: 1;
    right: 0;
}

body{
  background-color:black;
}

td{
    color: White;
}

.titulo{
    font-family: 'Games', sans-serif;
    font-size: 100px;
    text-align: center;
    color:white;
}


.imagem_promocional{
    width:1200px;
    height: 600px;
    border-radius: 10px;
}

.texto{
    font-family:'Courier New', Courier, monospace;
    font-size:25px;
    color:white;
    text-align:center;
}

.texto2{
    font-family:'Courier New', Courier, monospace;
    font-size:18px;
    color:white;
    text-align:center;
    margin: top 10px;
    bottom: 10px;
   
}


.botao_entrar{
    width:20px;
    height: 50px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}